/* Primary Colors */

$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

// Paragraphs
$transparentWhite: hsla(0, 0%, 100%, 0.75);

// Background, headings, buttons
$veryLightGray: hsl(0, 0%, 95%);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100;200;400&display=swap');

/* 
CSS Font family syntax
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Lexend Deca', sans-serif;
*/

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img, i {
  display: block;
}

button {
  font: inherit;
}

//End CSS Reset

body {
  background-color: $veryLightGray;
}
.card {
  color: $veryLightGray;
  margin: 3rem 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  h2 {
      font-family: 'Big Shoulders Display', cursive;
      margin: 1.5rem 0rem;
      font-size: 32px;
    }
  p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    margin: 1rem 0rem;
    line-height: 1.4;
  }
}
  
.category{
  padding: 3rem;
  button {
    border: 2px solid $veryLightGray;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 50px;
    padding: .6rem 1.3rem;
    border: 0;
    margin-top: 0.7rem;
    font-size: 11px;
    transition: color 0.2s, background-color 0.2s;
  }
}

.category:nth-child(1) {
  background-color: $brightOrange;
  button {
    color: $brightOrange;
    border: 2px solid $veryLightGray;
  }
  button:hover {
    color:$veryLightGray;
    background-color: transparent;
    border: 2px solid $veryLightGray;
  }
}
.category:nth-child(2) {
  background-color: $darkCyan;
    button {
    color: $darkCyan;
    border: 2px solid $veryLightGray;
  }
    button:hover {
    color:$veryLightGray;
    background-color: transparent;
  }
}
.category:nth-child(3) {
  background-color: $veryDarkCyan;
    button {
    color: $veryDarkCyan;
    border: 2px solid $veryLightGray;
  }
    button:hover {
    color: $veryLightGray;
    background-color: transparent;
  }
}

@media only screen and (min-width: 375px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  .card{
    margin: 0rem 20rem;
    width: 60rem;
  }
  .categories {
    display: flex;
    flex-direction: row;
  }
  .category {
    height: auto;
    width: 307px;
    button {
      margin-top: 5rem;
      padding: .6rem 1.5rem;
      font-weight: 400;
      font-size: 15px;
    }
    p {
      line-height: 1.6;
    }
  }
}